<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <p>
        Welcome to Recipe Keeper!
        <br>
        <br>
        Recipe Keeper is a user-friendly app designed to help 
        you organize and manage your favorite recipes. 
        With our app, you can create, store, update, and delete 
        recipes with ease. Also you can easily add ingredients from
        every recipe you like to your shopping list.
        Whether you're a seasoned chef or a cooking 
        enthusiast, Recipe Keeper is here to make your 
        culinary experience enjoyable and hassle-free.

     </p>
    <div class="alert-box-actions">
        <button class="btn btn-primary" (click)="onClose()">Close</button>
    </div>
</div>
